html{
    background-color: black;
}

.container-fluid {
    background-image: url("../Main_page/Images/Space_background.jpg"), radial-gradient(closest-side, rgba(58, 63, 63, 0.5), rgba(127, 133, 132, 0.5));
    background-blend-mode: color-burn;
    text-align: center;
    align-items: center;
}

#menu{
    top: 0;
    left: 15%;
    position: fixed;
}

#bottom{
    bottom: 0;
    right: 15%;
    position: fixed;
    background-color: #000000 !important;
}

.navbar-brand b {
    padding: 2rem;
    font-size: 2rem;
    color: #fff;
}

.navbar-brand img{
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #fff;
}

#menu-selector {
    height: 10rem;
    text-align: center;
}

.old-btn {
    text-shadow: 0.2rem;
    box-shadow: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #ffffff;
    border: 0 solid #383c44;
    border-radius: 2rem;
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    margin: 0.75rem;
    text-align: center;
    text-decoration: none #ffffff solid;
    min-width: fit-content;
    width: 10%;
    max-width: 460px;
    cursor: pointer;
    border-width: 0.1rem;
    border-color: #383c44;
}

/* Button CSS template taken from https://getcssscan.com/css-buttons-examples */

#menu-selector ul li {
    margin-left: 3rem;
    border-radius: 5rem;
    float: left;
    padding: 1rem;
}

#menu-selector ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.spacer    {
    width: 100%;
    height: 165px;
}

.spacer3   {
    width: 100%;
    height: 50px;
}

.spacer2   {
    width: 100%;
    height: 100px;
    background-color: #000000;
}

#formulario-contacto{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formulario{
    width: 50%;
    border-radius: 1.5rem;
    margin: 1rem;
    padding: 2rem;
    display:block;
    text-align: center;
    background-color:  rgba(255, 255, 255,0.5);
}

h1, label{
    color: rgb(139, 23, 23);
    font-size: 3rem;
    font-weight: 800;
}

label{
    display:block;
    float:center;
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

input, textarea{
        background-color: #fbfbfb;
        border-radius: 0.5rem;  
        border-style: solid; 
        border-width: 0.1rem; 
        border-color: #5246c0; 
        margin-top: 1.5rem;  
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        margin-bottom: 2rem;
}

textarea{
    height: 8rem;
    width:20rem;
}

#enviar{
    background-color: #a3b5b8;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color:  #53565e;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  touch-action: manipulation;
}

#enviar:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

/* Button CSS template taken from https://getcssscan.com/css-buttons-examples */